
# BlueJ files
# Compiled class file
# Log file
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.mtj.tmp/
IBRealistic/libs/
hs_err_pid*
replay_pid*
